<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css/header.css">
    </head>

<div class="father">
    
    <div class='header'>
       <div class="header-next">
            <image class="logo" src="../images/logo.png"></image>
            <image class="title" src="../images/title.png"></image>
            <ul class="topics">
                <li >
                    <a href="/index" class="active" data-id="1">讨论小柴</a>
                </li>
                <li>
                    <a data-id="2">我的小柴</a>
                </li>
                <li >
                    <a data-id="3">小柴手册</a>
                </li>
            </ul>
          <div class="login-header">
            <a href="javascript:;" >登录</a>
           </div>
           
        </div>

    </div>

    <!--内容-->
    <div class="content">
        
    </div>